@model CodingEvents.ViewModels.AddEventViewModel;

<h1>Add Event</h1>

<form method="post" class="form-control">
    <div asp-controller="Events" asp-action="Add" class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" type="text" />
        <span asp-validation-for="Name"></span>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" type="text" />
        <span asp-validation-for="Description"></span>
    </div>
    <br />
     <div class="form-group">
        <label asp-for="ContactEmail">Contact Email</label>
        <input asp-for="ContactEmail" type="text" />
        <span asp-validation-for="ContactEmail"></span>
    </div>
    <br />
    <input type="submit" value="Add Event"/>
</form>


