@{
    <div><partial name="/Views/Shared/_LinkListPartial.cshtml" /></div>
}

<br /><br /><img src="~/images/testimage.png"><br /><br />

    <h1>Coding Events</h1>

    <p>
        <a asp-controller="Events" asp-action="Add">Add Event</a>
    </p>
    @if (ViewBag.events.Count == 0)
{
    <p>No events yet!</p>
}

<table class="table table-hover">
    <thead>
        <tr>
         <th scope="col">
            Name
        </th>
        <th scope="col">
            Description
        </th>
    </tr>
    </thead>
    <tbody>

    @foreach (KeyValuePair<string, string> evt in ViewBag.events)
        {   
            <tr>
                <th scope="row">@evt.Key</th>
                <th scope="row">@evt.Value</th>    
            </tr>
        }
    </tbody>
</table>

