@{
    <div><partial name="/Views/Shared/_LinkListPartial.cshtml" /></div>
}

<br /><br /><img src="~/images/testimage.png"><br /><br />

    <h1>Coding Events</h1>

    <p>
        <a asp-controller="Events" asp-action="Add">Add Event</a>
    </p>

    <p> 
        <a asp-controller="Events" asp-action="Delete">Delete Event</a>
    </p>

    @if (ViewBag.events.Count == 0)
{
    <p>No events yet!</p>
}

<table class="table table-hover">
    <thead>
        <tr>
        <th scope="col">
            Event ID
        </th>
         <th scope="col">
            Name
        </th>
        <th scope="col">
            Description
        </th>
    </tr>
    </thead>
    <tbody>

        @foreach (var evt in ViewBag.events)
        {   
            <tr>
                <th scope="row">@evt.Id</th>
                <th scope="row">@evt.Name</th>
                <th scope="row">@evt.Description</th>
            </tr>
        }

    </tbody>
</table>

